<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footerFragment">
  <footer class="footer">
    <div class="container-fluid">
      <div class="row text-muted">
        <div class="col-6 text-start">
          <p class="mb-0">
            <a class="text-muted"
               href="https://img.animalplanet.co.kr/news/2019/08/10/700/2w4w02ks9531p3v874c7.jpg"
               target="_blank"><strong>Team6 라이더스</strong></a>
          </p>
        </div>
        <div class="col-6 text-end">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-muted" href="https://github.com/soeunc/safe_ride" target="_blank">Github</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="https://www.notion.so/likelion/6-1cc32ef7fbbc4332b81f959fe6d153db"
                 target="_blank">Notion</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted"
                 href="https://docs.google.com/spreadsheets/d/1GipYE2oyzrQxeagBfsVn9E8ZU_aX-j0JmuzPyywan3k/edit#gid=50422208"
                 target="_blank">Google sheet</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" target="_blank">
                 <img src="/img/source1.png" alt="저작자표시" style= "width: 70px" height="20">
                 </a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" target="_blank">
                <img src="/img/source2.png" alt="저작자표시" style= "width: 70px" height="20">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>

</html>