<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebarFragment">
  <!-- 사이드 네비게이션바 (사이드바) -->
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" href="/safe-ride">
        <span class="align-middle">SAFE RIDE</span>
      </a>


      <ul class="sidebar-header">
        <li class="sidebar-header">
          Weather
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/weather">
            <i class="align-middle" data-feather="sun"></i> <span class="align-middle"> 실시간 날씨</span>
          </a>
        </li>

        <li class="sidebar-header">
          Information
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/public-bicycle">
            <i class="align-middle" data-feather="map-pin"></i> <span class="align-middle">공영자전거 현황</span>
          </a>

        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/safety-direction">
            <i class="align-middle" data-feather="map"></i> <span class="align-middle">안전한 자전거 길 안내</span>
          </a>
        </li>

        <li class="sidebar-header">
          Community
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/article">
            <i class="align-middle" data-feather="message-square"></i> <span class="align-middle">커뮤니티</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/matching/list">
            <i class="align-middle" data-feather="users"></i> <span class="align-middle">라이더 매칭</span>
          </a>
        </li>

        <li class="sidebar-nav">
        <li class="sidebar-header">
          My Page
        </li>

        <!-- TODO : 추후 삭제 -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="/safe-ride/login">
            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">로그인</span>
          </a>
        </li>

        <!-- TODO : 추후 삭제 -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="/safe-ride/join">
            <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">회원가입</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/safe-ride/myprofile">
            <i class="align-middle" data-feather="user"></i> <span class="align-middle">마이페이지</span>
          </a>
        </li>
      </ul>

      <!-- TODO 마이페이지 OR 라이딩 기록페이지 -->

      <div class="sidebar-cta">
        <div class="sidebar-cta-content">
          <strong class="d-inline-block mb-2"> Safety & Healthy</strong>
          <div class="mb-3 text-sm">
            안전하게 달리셨나요? 오늘의 라이딩을 기록해보세요!
          </div>
          <div class="d-grid">
            <a href="/route" class="btn btn-primary">기록하기</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
</body>
<script src="/js/app.js"></script> <!-- template -->
</html>