<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <!--👇여기에 기타 header 넣어주시면 됩니다👇-->

  <!--👆 여기에 기타 header 넣어주시면 됩니다 👆-->
</head>

<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>

  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>
    <main>
      <div class="container mt-4">
        <!--👇여기에 내용 넣어주시면 됩니다👇-->
        <section class="py-5">
          <div class="container px-5">
            <!-- login form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                  <h1 class="text-center mb-5">로그인</h1>
                  <form action="/safe-ride/login" method="post">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="username" name="username" type="text" placeholder="Enter your username...">
                      <label for="username">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password...">
                      <label for="password">Password</label>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Submit</button></div>
                    <div style="margin-top: 16px; text-align: right">
                      <a href="/safe-ride/join">회원가입</a>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!--👆여기에 내용 넣어주시면 됩니다👆-->
      </div>
    </main>
    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  </div>
</div>


<!--👇여기에 사용하는 script 넣어주시면 됩니다👇-->
<script th:inline="javascript">
  window.onload = function () {
    //alert
    const alertMsg = [[${msg}]];
    const isFail = location.search;
    if (alertMsg){
      alert(alertMsg);
    }
    if (isFail === '?fail'){
      alert("로그인에 실패하였습니다. ㅠㅅㅠ");
    }
  }
</script>
<!--👆여기에 사용하는 script 넣어주시면 됩니다👆-->
</body>
</html>