<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <!--👇여기에 기타 header 넣어주시면 됩니다👇-->
  <style>
    .date_item{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      .warning{
        color:red;
        font-size:0.8rem;
        visibility:hidden;
        &.on{
          visibility:visible;
        }
      }
    }
  </style>
  <!--👆 여기에 기타 header 넣어주시면 됩니다 👆-->
</head>

<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>

  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>
    <main>
      <div class="container mt-4">
        <!--👇여기에 내용 넣어주시면 됩니다👇-->
        <section class="py-5">
          <div class="container px-5">
            <!-- login form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                  <h1 class="text-center mb-5">회원가입</h1>
                  <form action="/safe-ride/join" method="post" id="registerForm">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="userId" name="userId" type="text" onkeyup="idValidCk()" maxlength="20" required placeholder="아이디 입력">
                      <button class="btn btn-info" id="duplicateCkForId" onclick="duplicateCkForIdFnc()">아이디 중복확인</button>
                      <span id="idCkMsg"></span>
                      <label for="userId">아이디</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="userName" name="userName" type="text" maxlength="30" required placeholder="이름 입력">
                      <label for="userName">이름</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="password" name="password" type="password" onkeyup="passwordValidCkFnc()" maxlength="20" required placeholder="비밀번호 입력">
                      <label for="password">패스워드</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="passwordCk" name="passwordCk" type="password" maxlength="20" required placeholder="비밀번호 확인">
                      <button class="btn btn-info" id="passwordMatchCk" onclick="passwordMatchCkFnc()">패스워드 일치여부 확인</button>
                      <span id="passwordCkMsg"></span>
                      <label for="passwordCk">패스워드 확인</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="email" name="email" type="text" onkeyup="emailValidCk()" maxlength="30" required placeholder="이메일을 입력하세요">
                      <button class="btn btn-info" id="duplicateCkForEmail" onclick="duplicateCkForEmailFnc()">이메일 중복확인</button>
                      <span id="emailCkMsg"></span>
                      <label for="email">이메일</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="nickName" name="nickName" type="text" onkeyup="nickNameValidFunc()" maxlength="30" required placeholder="닉네임을 입력하세요">
                      <button class="btn btn-info" id="duplicateCkForNickname" onclick="duplicateCkForNicknameFnc()">닉네임 중복확인</button>
                      <span id="nickNameCkMsg"></span>
                      <label for="nickName">닉네임</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="phoneNumber" name="phoneNumber" type="text" oninput="onInputPhone(this)" maxlength="13" required placeholder="전화번호를 입력하세요">
                      <label for="phoneNumber">전화번호</label>
                    </div>
                    <div class="form-floating mb-3 date_item">
                      <input class="form-control" id="birthday" name="birthday" maxlength="10" required oninput="onInputBirth()"/>
                      <label for="birthday">생년월일</label>
                      <span class="warning">유효하지 않은 날짜입니다.</span>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Submit</button></div>
                    <div style="margin-top: 16px; text-align: right"><a href="/safe-ride/login">로그인</a></div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!--👆여기에 내용 넣어주시면 됩니다👆-->
      </div>
    </main>
    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  </div>
</div>

<script src="js/app.js"></script>
<!--👇여기에 사용하는 script 넣어주시면 됩니다👇-->
<script th:inline="javascript">
  window.onload = function () {
    //alert
    const alertMsg = [[${msg}]];

    if (alertMsg){
      alert(alertMsg);
    }
  }
  //아이디 정규식 체크용 flag변수
  let idCk = false;
  //아이디 중복확인용 flag변수
  let idDuplicateCk = false;
  //패스워드 정규식 체크용 flag변수
  let passwordCk = false;
  //패스워드 중복확인용 flag변수
  let passwordMatchCk = false;
  //닉네임 정규식 체크용 flag변수
  let nicknameCk = false;
  //닉네임 중복확인용 flag 변수
  let nicknameDuplicateCk = false;
  //이메일 정규식 체크용 flag변수
  let emailCk = false;
  //이메일 중복확인용 flag 변수
  let emailDuplicateCk = false;

  //submit 버튼
  let submitBtn = document.querySelector("#sign-in-button");
  //패스워드 일치여부 확인 버튼
  let passwordMatchBtn = document.querySelector("#passwordMatchCk");
  //아이디 정규식
  function idValidCk() {
    //영문자로 시작하는 영문자 또는 숫자 6~20자
    const regExp = /^[a-z]+[a-z0-9]{5,19}$/g;
    let userId = $('#userId').val(); // id값
    let idCkMsg = $('#idCkMsg');
    if (!regExp.test(userId)){
        idCkMsg.text("사용불가능합니다!(영문자시작 6~20자 이내)");
        idCkMsg.css('color', "red");
        idCk = false;
    } else {
      idCkMsg.text("사용가능합니다!!");
      idCkMsg.css('color', "blue");
      idCk = true;
    }
  }
  //비밀번호 정규식
  function passwordValidCkFnc() {
    //영어 숫자 조합 8자리 이상~25자 이하
    const regExp = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/;
    let password = $('#password').val();
    let passwordCkMsg = $('#passwordCkMsg');
    if (!regExp.test(password)){
      passwordCkMsg.text("영어 숫자 조합 8~20자 이내로 해주세요!");
      passwordCkMsg.css('color', "red");
      passwordCk = false;
    } else {
      passwordCkMsg.text("사용가능합니다!!");
      passwordCkMsg.css('color', "blue");
      passwordCk = true;
    }
  }

  //이메일 정규식
  function emailValidCk() {
    //
    const regExp = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
    let userId = $('#email').val(); // id값
    let emailCkMsg = $('#emailCkMsg');
    if (!regExp.test(userId)){
      emailCkMsg.text("사용불가능합니다!");
      emailCkMsg.css('color', "red");
      idCk = false;
    } else {
      emailCkMsg.text("사용가능합니다!!");
      emailCkMsg.css('color', "blue");
      idCk = true;
    }
  }

  //닉네임 정규식
  function nickNameValidFunc(){
    //영문 대/소문자나 한글로 시작. 영문 대/소문자와 한글, 숫자를 사용할 수 있으며
    const regExp =/^[ㄱ-ㅎ가-힣a-zA-Z0-9]{2,10}$/;
    //2~10사이의 길이

    let nickName = $('#nickName').val();
    let nickNameCkMsg = $('#nickNameCkMsg');
    if (!regExp.test(nickName)){
      nickNameCkMsg.text("2~10자 이내로 해주세요!(특수문자불가)");
      nickNameCkMsg.css('color', "red");
      nicknameCk = false;
    } else {
      nickNameCkMsg.text("사용가능합니다!!");
      nickNameCkMsg.css('color', "blue");
      nicknameCk = true;
    }
  }

  //아이디 중복확인
  function duplicateCkForIdFnc(){
    let userId = $('#userId').val(); // id값
    if(userId.trim()===''){
      alert('아이디를 입력해주세요!');
    } else {
      $.ajax({
        type : "POST",
        url : "/safe-ride/duplicateCkForId",
        data : {
          userId : userId
        },
        success : function (result){
          if (result===1){ // id가 이미 존재한다면
            alert("사용 불가능한 아이디입니다.");
            idDuplicateCk = false;
          } else if(result===0) {
            alert("사용 가능합니다.");
            idDuplicateCk = true;
          } else {
            alert("에러가 발생했습니다.")
          }
        },
        error:function (error){
          alert("에러가 발생했습니다. 새로고침해주세요!" + error);
        }
      });
    }
  }

  //닉네임 중복확인
  function duplicateCkForNicknameFnc(){
    let nickName = $('#nickName').val();
    if(nickName.trim()===''){
      alert('닉네임을 입력해주세요!');
    } else {
      $.ajax({
        type : "POST",
        url : "/safe-ride/duplicateCkForNickname",
        data : {
          nickName : nickName
        },
        success : function (result){
          if (result===1){ // 닉네임이 이미 존재한다면
            alert("사용 불가능한 닉네임입니다.");
            nicknameDuplicateCk = false;
          } else if(result===0) {
            alert("사용 가능합니다.");
            nicknameDuplicateCk = true;
          } else {
            alert("에러가 발생했습니다.")
          }
        },
        error:function (error){
          alert("에러가 발생했습니다. 새로고침해주세요!" + error);
        }
      });
    }
  }
  //이메일 중복확인
  function duplicateCkForEmailFnc(){
    let email = $('#email').val();
    if(email.trim()===''){
      alert('이메일을 입력해주세요!');
    } else {
      $.ajax({
        type : "POST",
        url : "/safe-ride/duplicateCkForEmail",
        data : {
          email : email
        },
        success : function (result){
          if (result===1){ // 이메일이 이미 존재한다면
            alert("사용 불가능한 이메일입니다.");
            emailDuplicateCk = false;
          } else if(result===0) {
            alert("사용 가능합니다.");
            emailDuplicateCk = true;
          } else {
            alert("에러가 발생했습니다.")
          }
        },
        error:function (error){
          alert("에러가 발생했습니다. 새로고침해주세요!" + error);
        }
      });
    }
  }




  //패스워드 일치여부 확인
  function passwordMatchCkFnc() {
    //비밀번호 체크
    let password = document.querySelector("#password").value;
    let passwordCk = document.querySelector("#passwordCk").value;
    if (password !== passwordCk || password === '' || passwordCk === ''){
      event.preventDefault();
      alert("패스워드가 일치하지 않습니다!");
      passwordMatchCk = false;
    } else {
      alert("패스워드가 일치합니다! ^^");
      passwordMatchCk = true;
    }
  }
  //submit 시 입력값 체크
  submitBtn.addEventListener('click', function (event) {
    //비밀번호 정규식 체크 여부 확인
    if (passwordCk !== true){
      event.preventDefault();
      alert("올바른 비밀번호인지 확인해주세요!")
    }
    //비밀번호 일치 체크 여부 확인
    if (passwordMatchCk !== true){
      event.preventDefault();
      alert("비밀번호 일치 체크를 진행해주세요!")
    }
    //아이디 중복체크 여부 확인
    if (idDuplicateCk !== true){
      event.preventDefault();
      alert("아이디 중복체크를 진행해주세요!")
    }
    //아이디 정규식 체크 여부 확인
    if (idCk !== true){
      event.preventDefault();
      alert("올바른 아이디인지 확인해주세요!")
    }
    //닉네임 중복체크 여부 확인
    if (nicknameDuplicateCk !== true){
      event.preventDefault();
      alert("닉네임 중복체크를 진행해주세요!")
    }
    if (nicknameCk !== true){
      event.preventDefault();
      alert("올바른 닉네임인지 확인해주세요!")
    }
  });

  //전화번호정규식
  function onInputPhone(target) {
    target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/(^02.{0}|^01.{1}|[0-9]{3,4})([0-9]{3,4})([0-9]{4})/g, "$1-$2-$3");
  }
  //생년월일정규식
  let birthday = document.querySelector("#birthday");
  let warning = document.querySelector(".warning");

  const onInputBirth = () => {
    let val = birthday.value.replace(/\D/g, "");
    let leng = val.length;
    let result = '';

    if(leng < 6) result = val;
    else if(leng < 8){
      result += val.substring(0,4);
      result += "-";
      result += val.substring(4);
    } else{
      result += val.substring(0,4);
      result += "-";
      result += val.substring(4,6);
      result += "-";
      result += val.substring(6);

      if(!checkValidDate(result)){
        warning.classList.add("on");
      } else{
        warning.classList.remove("on");
      }
    }
    birthday.value = result;
  }


  const checkValidDate = (value) => {
    let result = true;
    try {
      let date = value.split("-");
      let y = parseInt(date[0], 10),
              m = parseInt(date[1], 10),
              d = parseInt(date[2], 10);

      let dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;
      result = dateRegex.test(d+'-'+m+'-'+y);
    } catch (err) {
      result = false;
    }
    return result;
  }


</script>
<!--ajax-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--👆여기에 사용하는 script 넣어주시면 됩니다👆-->
</body>
</html>