<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <!--👇여기에 기타 header 넣어주시면 됩니다👇-->

  <!--👆 여기에 기타 header 넣어주시면 됩니다 👆-->
</head>

<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>

  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>
    <main>
      <div class="container mt-4">
        <!--👇여기에 내용 넣어주시면 됩니다👇-->
        <section class="py-5">
          <div class="container px-5">
            <!-- login form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                  <h1 class="text-center mb-5">회원가입</h1>
                  <form action="/safe-ride/join" method="post">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="userId" name="userId" type="text" required placeholder="아이디 입력">
                      <label for="userId">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="userName" name="userName" type="text" required placeholder="이름 입력">
                      <label for="userName">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="password" name="password" type="password" required placeholder="비밀번호 입력">
                      <label for="password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="passwordCk" name="passwordCk" type="password" required placeholder="비밀번호 확인">
                      <label for="passwordCk">Password Check</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="email" name="email" type="text" required placeholder="이메일을 입력하세요">
                      <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="nickName" name="nickName" type="text" required placeholder="닉네임을 입력하세요">
                      <label for="nickName">Nickname</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="phoneNumber" name="phoneNumber" type="number" required placeholder="전화번호를 입력하세요">
                      <label for="phoneNumber">Phone Number</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="birthday" name="birthday" type="number" required placeholder="생년월일을 입력하세요">
                      <label for="birthday">BirthDay</label>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Submit</button></div>
                    <div style="margin-top: 16px; text-align: right"><a href="/safe-ride/login">로그인</a></div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!--👆여기에 내용 넣어주시면 됩니다👆-->
      </div>
    </main>
    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  </div>
</div>

<script src="js/app.js"></script>
<!--👇여기에 사용하는 script 넣어주시면 됩니다👇-->
<script th:inline="javascript">
  window.onload = function () {
    //alert
    const alertMsg = [[${msg}]];

    if (alertMsg){
      alert(alertMsg);
    }
  }
</script>
<!--👆여기에 사용하는 script 넣어주시면 됩니다👆-->
</body>
</html>