<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <!--👇여기에 기타 header 넣어주시면 됩니다👇-->
  <style>
    .date_item{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      .warning{
        color:red;
        font-size:0.8rem;
        visibility:hidden;
        &.on{
          visibility:visible;
        }
      }
    }
  </style>
  <!--👆 여기에 기타 header 넣어주시면 됩니다 👆-->
</head>

<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>

  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>
    <main>
      <div class="container mt-4">
        <!--👇여기에 내용 넣어주시면 됩니다👇-->
        <section class="py-5">
          <div class="container px-5">
            <!-- login form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                  <h1 class="text-center mb-5">회원가입</h1>
                  <form action="/safe-ride/join" method="post" id="registerForm">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="userId" name="userId" type="text" maxlength="30" required placeholder="아이디 입력">
                      <button class="btn btn-danger btn" id="duplicateCkForId">아이디 중복확인</button>
                      <label for="userId">아이디</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="userName" name="userName" type="text" maxlength="30" required placeholder="이름 입력">
                      <label for="userName">이름</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="password" name="password" type="password" maxlength="30" required placeholder="비밀번호 입력">
                      <label for="password">패스워드</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="passwordCk" name="passwordCk" type="password" maxlength="30" required placeholder="비밀번호 확인">
                      <label for="passwordCk">패스워드 확인</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="email" name="email" type="text" oninput="onInputEmail(this)" maxlength="30" required placeholder="이메일을 입력하세요">
                      <label for="email">이메일</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="nickName" name="nickName" type="text" maxlength="30" required placeholder="닉네임을 입력하세요">
                      <label for="nickName">닉네임</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="phoneNumber" name="phoneNumber" type="text" oninput="onInputPhone(this)" maxlength="13" required placeholder="전화번호를 입력하세요">
                      <label for="phoneNumber">전화번호</label>
                    </div>
                    <div class="form-floating mb-3 date_item">
                      <input class="form-control" id="birthday" name="birthday" maxlength="10" required oninput="onInputBirth()"/>
                      <label for="birthday">생년월일</label>
                      <span class="warning">유효하지 않은 날짜입니다.</span>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Submit</button></div>
                    <div style="margin-top: 16px; text-align: right"><a href="/safe-ride/login">로그인</a></div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!--👆여기에 내용 넣어주시면 됩니다👆-->
      </div>
    </main>
    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  </div>
</div>

<script src="js/app.js"></script>
<!--👇여기에 사용하는 script 넣어주시면 됩니다👇-->
<script th:inline="javascript">
  window.onload = function () {
    //alert
    const alertMsg = [[${msg}]];

    if (alertMsg){
      alert(alertMsg);
    }
  }

  //submit 버튼 클릭
  let submitBtn = document.querySelector("#sign-in-button");

  submitBtn.addEventListener('click', function (event) {
    //비밀번호 체크
    let password = document.querySelector("#password").value;
    let passwordCk = document.querySelector("#passwordCk").value;
    if (password !== passwordCk){
      event.preventDefault();
      alert("패스워드를 확인해주세요! ^^");
    }
  });

  //전화번호정규식
  function onInputPhone(target) {
    target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/(^02.{0}|^01.{1}|[0-9]{3,4})([0-9]{3,4})([0-9]{4})/g, "$1-$2-$3");
  }
  //생년월일정규식
  let birthday = document.querySelector("#birthday");
  let warning = document.querySelector(".warning");

  const onInputBirth = () => {
    let val = birthday.value.replace(/\D/g, "");
    let leng = val.length;
    let result = '';

    if(leng < 6) result = val;
    else if(leng < 8){
      result += val.substring(0,4);
      result += "-";
      result += val.substring(4);
    } else{
      result += val.substring(0,4);
      result += "-";
      result += val.substring(4,6);
      result += "-";
      result += val.substring(6);

      if(!checkValidDate(result)){
        warning.classList.add("on");
      } else{
        warning.classList.remove("on");
      }
    }
    birthday.value = result;
  }


  const checkValidDate = (value) => {
    let result = true;
    try {
      let date = value.split("-");
      let y = parseInt(date[0], 10),
              m = parseInt(date[1], 10),
              d = parseInt(date[2], 10);

      let dateRegex = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;
      result = dateRegex.test(d+'-'+m+'-'+y);
    } catch (err) {
      result = false;
    }
    return result;
  }


</script>
<!--👆여기에 사용하는 script 넣어주시면 됩니다👆-->
</body>
</html>