<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>주소 API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      function init() {
          var url = location.href;
          var confmKey = $("input[name=confmKey]").val();
          var resultType = "1";
          var inputYn = $("input[name=inputYn]").val();

          if (inputYn != "Y") {
              document.form.confmKey.value = confmKey;
              document.form.returnUrl.value = url;
              document.form.resultType.value = resultType;
              document.form.action = "https://business.juso.go.kr/addrlink/addrLinkUrl.do";
              document.form.submit();
          } else {
              opener.jusoCallBack($("input[name=roadFullAddr]").val(), $("input[name=roadAddrPart1]").val());
          }
      };
  </script>
</head>
<body onload="init();">
<form id="form" name="form" method="post">
  <input type="hidden" id="confmKey" name="confmKey" th:value="${confmKey}"/>
  <input type="hidden" id="returnUrl" name="returnUrl" value=""/>
  <input type="hidden" id="resultType" name="resultType" value=""/>
</form>

<input type="hidden" id="inputYn" name="inputYn" th:value="${inputYn}"/>
</body>