<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/css/app.css" rel="stylesheet">
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <!--👇여기에 기타 header 넣어주시면 됩니다👇-->
  <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=kp0utn2vxk"></script>
  <!--👆 여기에 기타 header 넣어주시면 됩니다 👆-->
</head>

<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>

  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>
    <main class="content">
      <!--👇여기에 내용 넣어주시면 됩니다👇-->
      <div class="container mt-4" style="position: relative;">
        <div class="container">
          <div class="row">
            <!-- 첫 번째 카드 -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">주소 검색</h5>
                </div>
                <div class="card-body">
                  <p class="card-text"> 검색 지역의 2km 이내 대여소와 자전거 정보를 검색합니다.</p>
                  <button onclick="goPopup();" class="btn btn-primary">🔎 주소 검색</button>
                </div>
              </div>
            </div>
            <!-- 두 번째 카드 -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">현재 위치 검색</h5>
                </div>
                <div class="card-body">
                  <p class="card-text"> 현재 위치의 2km 이내 대여소와 자전거 정보를 검색합니다.</p>
                  <button id="getPositionBtn" class="btn btn-success"> 🧭현재 위치 기준 검색</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h6><strong>현재 제공되는 지자체 : 서울특별시, 세종특별자치시, 대전광역시</strong></h6>
        <h6>2024년도 연말 7개 지자체의 데이터가 추가 제공될 예정입니다.</h6>
        <form id="addressForm" action="/public-bicycle/address" method="post" class="mt-4">
          <input type="hidden" id="roadFullAddr" name="roadFullAddr">
          <input type="hidden" id="roadAddrPart1" name="roadAddrPart1">
        </form>

        <!-- 👀 검색 결과 -->
        <div class="row">
          <div class="col-12">
            <div class="mt-3 content-custom">
              <div class="custom-box"
                   th:classappend="${!isSearched ? 'background-default' :
                     (combinedInfo.isEmpty() ? 'background-no-data' : 'background-has-data')}">
                <!-- 조건에 따른 메시지 표시 -->
                <p class="px-0 mb-0" th:if="${!isSearched}">주소를 검색해주세요! 🧐</p>
                <p class="px-0 mb-0" th:if="${isSearched and combinedInfo.isEmpty()}">해당 지역의 데이터가 없습니다. 😢</p>
                <p class="px-0 mb-0" th:if="${!combinedInfo.isEmpty()}"><strong><span
                        th:text="${doroJuso}"></span></strong> 지역의 검색 결과입니다 👀</p>
              </div>
            </div>
            <!-- 👀 지도 표기 -->
            <div id="map" th:if="${isSearched}" style="width:100%;height:400px;"></div>
            <h1></h1>

            <!-- 검색 결과가 있을 때만 헤더와 테이블 표시 -->
            <div th:if="${!combinedInfo.isEmpty()}">
              <div class="custom-box-content">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>대여소 ID</th>
                    <th>도로명 주소</th>
                    <th>사용가능 자전거(대)</th>
                    <th>상세 보기</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="info : ${combinedInfo}">
                    <td th:text="${info.stationInfo.rntstnId}"></td>
                    <td th:text="${info.stationInfo.roadNmAddr}"></td>
                    <td th:text="${info.bicycleInfo != null ? info.bicycleInfo.bcyclTpkctNocs : '정보 없음'}"></td>
                    <td>
                      <button th:data-id="${info.stationInfo.rntstnId}"
                              onclick="showDetails(this.getAttribute('data-id'))" class="btn btn-info">상세보기
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 로딩 마크업 -->
        <div id="loading"
             style="display:none; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(255,255,255,0.8); z-index:9999;">
          <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <img src="/img/loading.gif" alt="Loading..."/>
          </div>
        </div>
      </div>
      <!-- 👆 여기에 내용 넣어주시면 됩니다 👆-->
    </main>
    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  </div>
</div>

<script src="/js/app.js"></script>
<!--👇여기에 사용하는 script 넣어주시면 됩니다👇-->
<script th:inline="javascript">

    // 🪟 도로명주소 Popup 관련 script
    // 도로명 주소 팝업 연결
    function goPopup() {
        pop = window.open("/public-bicycle/jusoPopup", "pop", "width=570, height=420, scrollbars=yes");
    }

    // 도로명 주소 팝업 검색 결과 콜백
    function jusoCallBack(roadFullAddr, roadAddrPart1) {
        console.log("도로명 주소: " + roadAddrPart1);
        console.log("전체 주소: " + roadFullAddr);
        document.getElementById('roadFullAddr').value = roadFullAddr;
        document.getElementById('roadAddrPart1').value = roadAddrPart1;
        // 로딩 화면 표시
        document.getElementById('loading').style.display = 'block';
        // 폼 제출
        document.getElementById('addressForm').submit();
    }


    // 🚩좌표 관련 script
    // 위치 가져와서 sendPositionToServer 실행
    document.addEventListener('DOMContentLoaded', function () {
        var btn = document.getElementById('getPositionBtn');
        btn.addEventListener('click', function () {
            console.log('현재 위치 검색 버튼이 클릭되었습니다.');
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log('위치 정보를 성공적으로 받았습니다.');
                sendPositionToServer(position);
            }, showErrorMsg);
        });
    });

    // 서버로 좌표 데이터 보내기
    function sendPositionToServer(position) {
        var userLng = position.coords.longitude; // 경도
        var userLat = position.coords.latitude; // 위도
        console.log('경도 : ' + userLng);
        console.log('위도 : ' + userLat);

        fetch('/public-bicycle/getUserPosition', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                lng: userLng,
                lat: userLat
            })
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); // 응답 성공 시 페이지 새로 고침
                } else {
                    console.error('서버로부터 응답을 받는데 실패했습니다.');
                }
            })
            .catch(error => console.error('Error:', error));  // 오류 처리
    }

    function showErrorMsg(error) {
        var errorMessage = '';
        switch (error.code) {
            case error.PERMISSION_DENIED:
                errorMessage = "사용자가 위치 정보 제공을 거부했습니다.";
                break;
            case error.POSITION_UNAVAILABLE:
                errorMessage = "위치 정보를 사용할 수 없습니다.";
                break;
            case error.TIMEOUT:
                errorMessage = "위치 정보를 가져오는 요청이 시간 초과되었습니다.";
                break;
            default:
                errorMessage = "알 수 없는 오류가 발생했습니다.";
                break;
        }
        console.log(errorMessage);
    }

    //🗺️ 지도 관련 script
    // 지도 생성 (초기값 : 리스트의 0번째 장소)
    var defaultLng = [[${searchedLng}]];
    var defaultLat = [[${searchedLat}]];

    var mapOptions = {
        center: new naver.maps.LatLng(defaultLat, defaultLng),
        zoom: 17
    };

    var map = new naver.maps.Map('map', mapOptions);

    // 기본 위치에 마커 추가
    var defaultMarkerContent2 = [
        "<div>",
        `<img src="/img/pointer.png" width="85" height="85">`,
        "</div>"
    ].join("");

    var defaultMarkerContent = '<img src="' + '/img/pin_default.png" alt="" ' +
        'style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: none; max-height: none; ' +
        '-webkit-user-select: none; position: absolute; width: 22px; height: 35px; left: 0px; top: 0px;">';

    var defaultMarker = new naver.maps.Marker({
        position: new naver.maps.LatLng(defaultLat, defaultLng),
        map: map,
        icon: {
            content: defaultMarkerContent,
            size: new naver.maps.Size(22, 35),
            anchor: new naver.maps.Point(11, 35)
        }
    });


    // 지도 마커 (위치, 사용가능 자전거 수량)
    var stations = [[${combinedInfo}]];
    stations.forEach(function (station) {
        var bikeCount = station.bicycleInfo && station.bicycleInfo.bcyclTpkctNocs
            ? station.bicycleInfo.bcyclTpkctNocs : 'X';
        var markerContent =
            '<div style="background-color: #007bff; ' +
            'color: white; ' +
            'width: 30px; ' +
            'height: 30px; ' +
            'line-height: 20px; ' +
            'text-align: center; ' +
            'border-radius: 50%; ' +
            'font-size: 14px; ' +
            'font-weight: bold; ' +
            'border: 2px solid black;">'
            + bikeCount
            + '</div>';
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(station.stationInfo.lat, station.stationInfo.lot),
            map: map,
            icon: {
                content: markerContent,
                size: new naver.maps.Size(30, 30),
                anchor: new naver.maps.Point(15, 15)
            }
        });
    });

    // 📄상세보기 팝업 관련 script
    function showDetails(stationId) {
        const encodedId = encodeURIComponent(stationId);
        const url = `/public-bicycle/${encodedId}`;
        window.open(url, "_blank", "width=500,height=600");
    }

    // ✂️세션 지우기 관련 script
    window.onbeforeunload = function() {
        navigator.sendBeacon("/public-bicycle/clearSession", JSON.stringify({}));
    };

</script>
<!--👆여기에 사용하는 script 넣어주시면 됩니다👆-->
</body>
</html>









