<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>위치 검색 허용</title>
  <link href="/css/app.css" rel="stylesheet">
</head>
<body class="p-4-newCst">
<h3 class="align-content-center-newCst">위치 기반 서비스 동의</h3>
<div class="container-newCst text-center-newCst">
  <h6 class="mb-4-newCst">
    <p>사용자의 현재 위치를 제공하여</p>
    <p>위치 기반 서비스를 제공 받는 것에</p>
    <p>동의하십니까?</p>
  </h6>
  <button class="btn-success-newCst btn-lg-newCst me-2-newCst" onclick="agreeToSearch()">예</button>
  <button class="btn-danger-newCst btn-lg-newCst" onclick="window.close()">아니오</button>
</div>

<div id="loading-newCst"
     style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(241,241,241,0.9); z-index:9999;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <img src="/img/loading.gif" alt="Loading..." width="100"/>
  </div>
</div>

<script>
    function agreeToSearch() {
        navigator.geolocation.getCurrentPosition(function(position) {
            // 메인 윈도우의 로딩 화면을 표시
            window.opener.document.getElementById('loading-newCst').style.display = 'block';
            window.opener.sendPositionToServer(position);
            window.close();
        }, function(error) {
            console.error('위치 정보를 가져오는 데 실패했습니다.', error);
            window.close();
        });
    }
</script>
</body>
</html>