<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Article</title>
</head>
<body>
<h1>Edit Article</h1>
<form action="#" method="post">
  <label for="title">제목:</label><br>
  <input type="text" id="title" name="title" th:value="${article.title}"><br>
    <label for="content">내용:</label>
    <textarea name="content" id="content" rows="6" required th:text="${article.content}"></textarea><br>
  <label for="metropolitanCity">광역 자치구:</label><br>
  <select id="metropolitanCity" name="metropolitanCity" onchange="fetchCities()">
    <option th:each="city : ${metropolitanCities}" th:value="${city}" th:text="${city}" th:selected="${city == article.metropolitanCity}"></option>
  </select><br>
  <label for="city">도시:</label><br>
  <select id="city" name="city">
    <option th:each="city : ${cities}" th:value="${city}" th:text="${city}" th:selected="${city == article.city}"></option>
  </select><br>
  <input type="submit" value="Submit">
</form>

<script>
    function fetchCities() {
        var metropolitanCity = document.getElementById('metropolitanCity').value;
        var citySelect = document.getElementById('city');
        var regionIdInput = document.getElementById('regionId'); // Get hidden input field

        // AJAX 요청을 통해 선택된 광역자치구에 해당하는 도시 목록을 서버로부터 가져옴
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var cities = JSON.parse(xhr.responseText);

                    // 도시 목록을 새로고침
                    citySelect.innerHTML = '';
                    cities.forEach(function(city) {
                        var option = document.createElement('option');
                        option.value = city.city; // 도시명을 가져와야 함
                        option.textContent = city.city;
                        citySelect.appendChild(option);
                    });
                } else {
                    console.error('Failed to fetch cities');
                }
            }
        };

        xhr.open('GET', '/city?metropolitanCity=' + metropolitanCity);
        xhr.send();

        // Set selected regionId value
        // regionId 값을 문자열에서 숫자로 변환하여 설정
        regionIdInput.value = parseInt(metropolitanCity); // Assuming metropolitanCity ID is used as regionId
    }
</script>
</body>
</html>