<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[${article.title}]]</title>
</head>
<body>
<div class="container">
  <h1 th:text="${article.title}"></h1>
  <div class="post-details">
    <div>
      <p th:text="${article.content}" style="word-wrap: break-word;"></p>
      <span th:text="${article.hit}"></span>
    </div>
  </div>
</div>
<a th:href="@{'/article/' + ${article.id} + '/edit'}" class="edit-button">수정</a>
<a href="/article" >홈으로</a> <br>
<form th:action="@{'/article/' + ${article.id} + '/delete'}" method="post">
  <button type="submit" onclick="confirmDelete()" class="delete-button">삭제</button>
</form>
<script>
    // 게시글 삭제 시 확인창
    function confirmDelete() {
        // 사용자에게 확인을 받기 위한 알림창 표시
        if (confirm("정말로 삭제하시겠습니까?")) {
            // '확인' 버튼이 클릭된 경우 폼 제출
            document.getElementById("deleteForm").submit();
        } else {
            // '취소' 버튼이 클릭된 경우 아무 작업도 하지 않음
            return false;
        }
    }
</script>
</body>
</html>