<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/css/app.css" rel="stylesheet">
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <!--👇여기에 기타 header 넣어주시면 됩니다👇-->

  <!--👆 여기에 기타 header 넣어주시면 됩니다 👆-->
</head>

<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>

  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>
    <main class="content">
      <div class="container mt-4">
        <!--👇여기에 내용 넣어주시면 됩니다👇-->

        <!--👆여기에 내용 넣어주시면 됩니다👆-->
      </div>
    </main>
    <th:block th:replace="~{common/footer-weather :: footerFragment}"></th:block>
  </div>
</div>

<script src="/js/app.js"></script>
<!--👇여기에 사용하는 script 넣어주시면 됩니다👇-->
<script>

</script>
<!--👆여기에 사용하는 script 넣어주시면 됩니다👆-->
</body>
</html>