<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <!--👇여기에 기타 header 넣어주시면 됩니다👇-->
  <style>
      strong {
          color: #386fa4;
      }
  </style>
  <!--👆 여기에 기타 header 넣어주시면 됩니다 👆-->
</head>

<body>
<div class="wrapper">
  <!-- 상단 바 -->
  <nav class="main-custom-navbar" th:fragment="HeadBarFragment">
    <div class="container">
      <a class="sidebar-brand mx-auto" href="/safe-ride">SAFE RIDE</a>
    </div>
  </nav>

  <div class="main">
    <main>
      <div class="container centered-container">
        <!-- 로그인 및 회원가입 버튼 (익명 사용자만 보임) -->
        <div sec:authorize="isAnonymous()" class="centered-container-new">
          <p>
          <h6><strong>회원가입</strong> 및 <strong>로그인</strong>을 하면 메뉴를 이용하실 수 있습니다. 함께 달려요!</h6>
          </p>
          <p>
            <a href="/safe-ride/login" class="btn btn-warning btn-spacing">로그인</a>
            <a href="/safe-ride/join" class="btn btn-warning btn-spacing">회원가입</a>
          </p>
        </div>

        <!-- 마이프로필 및 로그아웃 버튼 (인증된 사용자만 보임) -->
        <div sec:authorize="isAuthenticated()" class="centered-container-new">
          <p>
          <h6>반갑습니다, <strong><span th:text="${userId}"></span></strong>님!</h6>
          </p>
          <p>
          <form action="/safe-ride/logout" method="post" style="display: inline;">
            <a href="/safe-ride/myprofile" class="btn btn-info btn-spacing" style="margin-right: 10px;">마이프로필</a>
            <input type="submit" value="로그아웃" class="btn btn-danger">
          </form>
          </p>
        </div>
      </div>
      <hr>

      <!-- 이미지, 메뉴 2열 -->
      <div class="main-container">
        <div class="main-image">
          <img src="/img/main.jpg" alt="Main Image" class="img-fluid">
        </div>
        <div class="menu-container">
          <a href="/weather" class="menu-link"><img src="/img/menu/menu-weather.png" alt="Weather"></a>
          <a href="/public-bicycle" class="menu-link"><img src="/img/menu/menu-public.png" alt="Public Bicycle"></a>
          <a href="/safety-direction" class="menu-link"><img src="/img/menu/menu-safety.png"
                                                             alt="Safety Directions"></a>
          <a href="/article" class="menu-link"><img src="/img/menu/menu-community.png" alt="Community"></a>
          <a href="/matching/list" class="menu-link"><img src="/img/menu/menu-matching.png" alt="Rider Matching"></a>
          <a href="/route" class="menu-link"><img src="/img/menu/menu-route.png" alt="Route Recording"></a>
        </div>
      </div>
    </main>
  </div>
</div>
<th:block th:replace="~{common/footer :: footerFragment}"></th:block>

<script src="js/app.js"></script>
<script th:inline="javascript">
    window.onload = function () {
        const alertMsg = [[${msg}]];
        if (alertMsg) {
            alert(alertMsg);
        }
    }
</script>
</body>
</html>