<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자전거 대여소 정보</title>
</head>
<body>
<form action="/public-bicycle/search" method="post">
  <label for="sido">시도:</label>
  <input type="text" id="sido" name="sido">
  <label for="sigun">시군구:</label>
  <input type="text" id="sigun" name="sigun">
  <label for="eup">읍면동:</label>
  <input type="text" id="eup" name="eup">
  <button type="submit">검색</button>
</form>

<h1>자전거 대여소 정보</h1>
<div th:if="${results1}">
  <ul>
    <li th:each="result : ${results1}" th:text="${result}"></li>
  </ul>
</div>

<h1>대여 가능 자전거 정보</h1>
<div th:if="${results2}">
  <ul>
    <li th:each="result : ${results2}" th:text="${result}"></li>
  </ul>
</div>

<h1>실시간 자전거 대여/반납 정보</h1>
<div th:if="${results3}">
  <ul>
    <li th:each="result : ${results3}" th:text="${result}"></li>
  </ul>
</div>
</body>
</html>