<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>세이프라이드: 안전한 라이딩의 시작</title>
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>

  <!--👇여기에 header script 넣어주시면 됩니다👇-->

  <!--👆여기에 header script 넣어주시면 됩니다👆-->
</head>

<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>
  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>

    <main class="content">
        <!--👇여기에 내용 넣어주시면 됩니다👇-->
        <div class="container mt-4">

          <form action="#" th:action="@{/matching/list}" method="get">
            <select name="metropolitanCity" id="metropolitanCity" onchange="this.form.submit()">
              <option value="">전체</option>
              <option th:each="city : ${metropolitanCities}"
                      th:value="${city}"
                      th:text="${city}"
                      th:selected="${city == selectedMetropolitanCity}"></option>
            </select>
            <!-- 선택한 광역자치구에 따라 해당 도시 목록을 보여주는 드롭다운 메뉴 -->
            <select name="city" id="city">
              <option value="">전체</option>
              <option th:each="city : ${cities}"
                      th:value="${city}"
                      th:text="${city}"
                      th:selected="${city == selectedCity}"></option>
            </select>
            <button type="submit">검색</button>
          </form>

          <div id="articleContainer" class="post-box">
            <div class="article_details" th:each="matching : ${page.content}">
              <a th:href="@{/matching/{id}(id=${matching.id})}">
                <h3 th:text="${matching.title}"></h3>
              </a>
              <span>작성일자: <span th:text="${#dates.format(matching.createTime, 'yyyy-MM-dd HH:mm')}"></span></span> <br>
              <p th:text="${matching.status}"></p>
            </div>
          </div>
          <br>
          <a href="/matching/create">매칭 생성하기</a> <br>
        </div>
      <div class="footer">
        <!-- 페이지네이션 링크 추가 -->
        <div th:if="${page.totalPages > 1}" class="pagination">
          <div>
            <a th:each="i : ${#numbers.sequence(0, page.totalPages-1)}"
               th:href="@{'/matching/list?page=' + ${i} + '&metropolitanCity=' + ${selectedMetropolitanCity} + '&city=' + ${selectedCity}}"
               th:class="${i == page.number} ? 'active'">
              <span th:text="${i + 1}"></span>
            </a>
          </div>
        </div>
      </div>
        <!-- 👆 여기에 내용 넣어주시면 됩니다 👆-->
      </main>

    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  </div>
  </div>
</body>

<!--👇여기에 사용하는 script 넣어주시면 됩니다👇-->
<script>

</script>
<!--👆여기에 사용하는 script 넣어주시면 됩니다👆-->

<script src="/js/app.js"></script> <!-- template -->
</html>