<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>세이프라이드: 안전한 라이딩의 시작</title>
  <th:block th:replace="~{common/header :: headerFragment}"></th:block>
  <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=kp0utn2vxk"></script>

</head>
<body>
<div class="wrapper">
  <th:block th:replace="~{common/sidebar :: sidebarFragment}"></th:block>

  <div class="main">
    <th:block th:replace="~{common/navbar :: navbarFragment}"></th:block>
    <main class="content">
      <div class="container mt-4">
        <h2>안전 지역 안내</h2>
        <p>사용자 위치를 기준으로 자전거 사고다발지역과 스쿨존 사고다발지역을 표시합니다.</p>
        <div id="map" style="width:100%;height:400px;"></div>
        <div class="mb-3">
          <br>
          <div class="mb-3 w-50">
            <label for="search-input"></label>
            <input id="search-input" class="form-control" type="text" placeholder="현재 위치를 지번, 도로명로 입력해주세요.(예. 잠실3동)">
          </div>
          <button id="find-route-to-address-btn" class="btn btn-primary" type="button">현재 위치로</button>
        </div>
<!--        <div>-->
<!--          <h2>스쿨존 어린이 사고 다발 지역</h2>-->
<!--          &lt;!&ndash; ❗️현재 위치의 근방 스쿨존으로 결과 보여주기 &ndash;&gt;-->
<!--          <table id="schoolZoneTable" style="border:1px solid black;">-->
<!--            <colgroup>-->
<!--              <col style="border-right: 1px solid black;">-->
<!--              <col style="border-right: 1px solid black;">-->
<!--              <col style="border-right: 1px solid black;">-->
<!--              <col style="border-right: 1px solid black;">-->
<!--              <col>-->
<!--            </colgroup>-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>사고 지역</th>-->
<!--              <th>발생 건수</th>-->
<!--              <th>사망자 수</th>-->
<!--              <th>중상자 수</th>-->
<!--              <th>경상자 수</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--                        <tr style="border:1px solid black;">-->
<!--                          <td>[[school.sidoSggNnm]]</td>-->
<!--                          <td>[[school.occrrncCnt]]</td>-->
<!--                          <td>[[school.dthDnvCnt]]</td>-->
<!--                          <td>[[school.seDnvCnt]]</td>-->
<!--                          <td>[[school.slDnvCnt]]</td>-->
<!--                        </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
      </div>
    </main>
    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  </div>
</div>


<script>
    let position = new naver.maps.LatLng(37.3595704, 127.105399)
    let mapOptions = {
        center: position,
        zoom: 15,
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT
        }
    };

    let map = new naver.maps.Map('map', mapOptions);
    let markers = [];
    let infoWindows = [];

    const queryInput = document.getElementById('search-input');
    document.getElementById('find-route-to-address-btn').addEventListener('click', () => {
        const query = queryInput.value;
        if (query.length === 0) {
            alert('검색어를 입력하세요');
            return;
        }
        fetch('/safety-direction/check', {
            method: 'post',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify({
                query
            })
        }).then(async response => {
            if (response.ok) {
                const data = await response.json();
                const {lat, lng, accidentCoordinates, schoolZoneInfo} = data;
                map.setCenter({lat, lng});

                // 기존 마커 삭제
                markers.forEach(marker => marker.setMap(null));
                markers = [];
                infoWindows.forEach(infoWindow => infoWindow.close());
                infoWindows = [];

                // 사고 위치에 마커 생성
                accidentCoordinates.forEach(coordinate => {
                    const marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(coordinate.accidentLat, coordinate.accidentLng),
                        map: map
                    });
                    // 마커에 대한 정보
                    const contentString = [
                        '<div class="iw_inner" style="position: absolute; border-style: solid; border-width: 1.2rem 1rem 0 1rem; border-color: #ffffff transparent; ">',
                        `<p><strong>${coordinate.spotNm}</strong><br>`,
                        `발생 건수: ${coordinate.occrrncCnt}건<br>`,
                        `사망자 수: ${coordinate.dthDnvCnt}건</p>`,
                        '</div>'
                    ].join('');

                    // 마커에 대한 정보 창 생성
                    const infoWindow = new naver.maps.InfoWindow({
                        content: contentString
                    });

                    // 마커에 마우스를 가져갔을 때 이벤트 리스너
                    naver.maps.Event.addListener(marker, 'mouseover', () => {
                        infoWindow.open(map, marker);
                    });

                    // 마커에서 마우스를 뗐을 때 이벤트 리스너
                    naver.maps.Event.addListener(marker, 'mouseout', () => {
                        infoWindow.close();
                    });
                    console.log(`마커 위치: 위도 ${marker.position.lat()}, 경도 ${marker.position.lng()}`);
                    markers.push(marker);
                    infoWindows.push(infoWindow);

                });
                var markerContent2 = document.createElement('div');
                markerContent2.innerHTML = '<img src="/img/schZone.png" width="40" height="40">';
                // 스쿨존에 마커 생성
                schoolZoneInfo.forEach(schoolZoneInfoList => {
                    const schoolMarker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(schoolZoneInfoList.schLat, schoolZoneInfoList.schLng),
                        map: map,
                        icon: {
                            content: markerContent2,
                            size: new naver.maps.Size(30, 30),
                            scaledSize: new naver.maps.Size(30, 30),
                            origin: new naver.maps.Point(0, 0),
                            anchor: new naver.maps.Point(15, 15)
                        }
                    });
                    // 마커에 대한 정보
                    const contentString = [
                        '<div class="iw_inner" style="position: absolute; border-style: solid; border-width: 1.2rem 1rem 0 1rem; border-color: #ffffff transparent; ">',
                        `<p><strong>${schoolZoneInfoList.spotNm}</strong><br>`,
                        `발생 건수: ${schoolZoneInfoList.occrrncCnt}건<br>`,
                        `사망자 수: ${schoolZoneInfoList.dthDnvCnt}건</p>`,
                        '</div>'
                    ].join('');

                    // 마커에 대한 정보 창 생성
                    const infoWindow = new naver.maps.InfoWindow({
                        content: contentString
                    });

                    // 마커에 마우스를 가져갔을 때 이벤트 리스너
                    naver.maps.Event.addListener(schoolMarker, 'mouseover', () => {
                        infoWindow.open(map, schoolMarker);
                    });

                    // 마커에서 마우스를 뗐을 때 이벤트 리스너
                    naver.maps.Event.addListener(schoolMarker, 'mouseout', () => {
                        infoWindow.close();
                    });

                    console.log(`스쿨존 위치: 위도 ${schoolMarker.position.lat()}, 경도 ${schoolMarker.position.lng()}`);
                    markers.push(schoolMarker);
                    infoWindows.push(infoWindow);
                });
            } else {
                alert('주소를 찾을 수 없습니다.');
            }
        });
    });
</script>

<script src="/js/app.js"></script>

</body>
</html>